<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Purr-Fect | About</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/favipf1.png" type="image/png">


  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/static/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
    rel="stylesheet">
</head>

<body id="top" class="dark_theme">

  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <h1 class="h1 logo">
        <a href="#">purr-fect<span>.</span></a>
      </h1>

      <div class="navbar-actions">


      </div>

      <button class="nav-toggle-btn" aria-label="Toggle Menu" title="Toggle Menu" data-nav-toggle-btn>
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
      </button>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home.</a>
          </li>
          <li>
            <a href="/about" class="navbar-link">About.</a>
          </li>
          <li>
            <a href="/textsummarize" class="navbar-link">Text Summarize.</a>
          </li>

          <li>
            <a href="/contact" class="navbar-link">Contact.</a>
          </li>

          </ul>
      </nav>

    </div>
  </header>

  <main>
    <article class="container">

      <section class="stats" id="stats">
        <ul class="stats-list">


        </ul>
      </section>





      <!--
        - #ABOUT
      -->

      <section class="about" id="about">

        <figure class="about-banner">
          <img src="/static/catsb.png" alt="Cat Thinking what is purr-fect" class="w-100">
        </figure>

        <div class="about-content section-content">

          <p class="section-subtitle">All bout Purr-fect</p>

          <h2 class="h3 section-title">Decoding Text and Unraveling the Mystery of Text Summarization One 'Meow' at a Time! with Feline Flair</h2>

          <p class="section-text">
            Ever wondered what happens when feline finesse meets the world of words?
            At 'Purr-fect' we demystify text summarization with a touch of whiskered charm.
            Join us on a whimsical journey where 'Meow' becomes the key to unlocking condensed knowledge
            and literary amusement. Our witty feline wordsmiths are here to transform complex texts into purr-fectly
            delightful summaries. It's not just about words; it's about creating a language that speaks to both the brain and the heart.
            Get ready to explore the art of summarization like never before, where each 'Meow' is a gateway to a world of marvelously concise
            insights and playful intellect. Because when it comes to understanding text, we say, 'Why use many words when few do trick, Meow!
          </p>

          <div class="btn-group">
            <button class="btn btn-primary"><a href="https://medium.com/analytics-vidhya/text-summarization-using-nlp-3e85ad0c6349" target="_blank">Medium</a></button>
            <button class="btn btn-primary"><a href="https://en.wikipedia.org/wiki/Automatic_summarization" target="_blank">Wikipedia</a></button>
            <button class="btn btn-primary"><a href="https://github.com/mathsyouth/awesome-text-summarization" target="_blank">GitHub</a></button>
          </div>
        </div>

      </section>

    </article>
  </main>

      <footer class="footer">
        <div class="container">

          <p class="h1 logo">
            <a href="#">
            To my 💞 by bharath<span>.</span>
            </a>
          </p>

          <p class="copyright">
            &copy; 2023 <a href="#">purr-fect</a>. All rights reserved
          </p>

        </div>
      </footer>



  <!--
    - #GO TO TOP
  -->

  <a href="#top" class="go-top" data-go-top title="Go to Top">
    <ion-icon name="arrow-up"></ion-icon>
  </a>





  <!--
    - custom js link
  -->
  <script src="/static/script.js"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
