<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Purr-Fect</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="/static/favipf1.png" type="image/png">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/static/style.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@400;700&family=Saira+Stencil+One&display=swap"
    rel="stylesheet">
</head>

<body id="top" class="dark_theme">

  <!--
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <h1 class="h1 logo">
        <a href="#">purr-fect<span>.</span></a>
      </h1>

      <div class="navbar-actions">


      </div>

      <button class="nav-toggle-btn" aria-label="Toggle Menu" title="Toggle Menu" data-nav-toggle-btn>
        <span class="one"></span>
        <span class="two"></span>
        <span class="three"></span>
      </button>

      <nav class="navbar" data-navbar>
        <ul class="navbar-list">

          <li>
            <a href="/" class="navbar-link">Home.</a>
          </li>
          <li>
            <a href="/about" class="navbar-link">About.</a>
          </li>
          <li>
            <a href="/textsummarize" class="navbar-link">Text Summarize.</a>
          </li>

          <li>
            <a href="/contact" class="navbar-link">Contact.</a>
          </li>

        </ul>
      </nav>

    </div>
  </header>


<main>
    <article class="container">

      <!--
        - #HERO
      -->

      <section class="hero" id="home">

        <figure class="hero-banner">
            <img src="/static/caty-removebg-preview.png" alt="The roaring caty"
              class="caty">

        </figure>

        <div class="hero-content">
          <h2 class="h2 hero-title">Meow Meow Human's</h2>
          <h6 class="h6 hero-title">Let's summarize the text in 'MEOW'-tastic way, as every sentence is 'MEOW'-gically transformed into a furry-fun experience! 🐾</h6>
        </div>
      </section>
    </article>
  </main>

  <!--
    - custom js link
  -->
  <script src="/static/script.js"></script>
  <!--
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


</body>

</html>
